{# src/Algo/SiteBundle/Resources/views/Userservices/editDocument.html.twig #}
{% extends '::layout.html.twig' %}

{% block title %}Εμφάνιση Αρχείου{% endblock %}
{% block article %}
    <header>
        <h1></h1>
     <p></p>
    
    <form action="{{ path('AlgoSiteBundle_doc_edit',{ 'docpath': doc.path }) }}" method="post" {{ form_enctype(form) }} class="blogger">
    
        {{ form_errors(form) }}
        
		{{ form_row (form._token) }}    

        {{ form_row(form.shortdescr,{ 'label' : 'Σύντομη περιγραφή' }) }}
        {{ form_row(form.descr,{ 'label' : 'Περιγραφή' }) }}
        
        
        
        {% if is_granted('ROLE_ADMIN') %}
        	    
        {{ form_row(form.role) }}
		{{ form_row(form.usersallowed) }}
        {{ form_row(form.public,{ 'label' : 'Public' }) }}
        
        {% endif %}
        
		
        <input type="submit" value="Αποστολή" />
        <input type="submit" name="download" value="Λήψη αρχείου" />
        <input type="submit" name="delete" value="Διαγραφή Αρχείου" />
    	</form>
{% endblock %}
