{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="blogger">
    
    <div>
    	{{ form_errors(form) }}
        {{ form_row(form.current_password,{ 'label' : 'Προηγούμενος κωδικός' }) }}
 		{{ form_row(form.plainPassword,{ 'label' : 'Κωδικός πρόσβασης' }) }}
		{{ form_row(form.plainPassword,{ 'label' : 'Επιβεβαίωση κωδικού πρόσβασης' }) }}  
		{{ form_rest(form) }}
	
        <input type="submit" value="Αλλαγή" />
    </div>
</form>


